@import "tailwindcss";

@theme {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-orange: var(--orange);
    --color-orange-hover: var(--orange-hover);
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: rgb(206, 205, 195);
    --foreground: rgb(16, 15, 15);
    --orange: rgb(218, 112, 44);
    --orange-hover: rgb(188, 82, 21);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: rgb(28, 27, 26);
        --foreground: rgb(206, 205, 195);
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: Inter, Helvetica, sans-serif;
}

b {
    font-weight: 600;
}

a {
    @apply text-orange hover:text-orange-hover transition-all;
}
